<!DOCTYPE html>
<html>

    <head>

         <title><%= title %></title>

         <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen' %>
         <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>


         <%= javascript_include_tag "application" %>
         <%= csrf_meta_tags %>

    </head>

    <body>

        <%= yield %>

    </body>

</html>
